<?xml version="1.0"?>
<config>
	<id>x-gallery-4-lower-posts</id>
	<type>widget</type>
	<category>
		<main>Post</main>
		<sub>Latest</sub>
	</category>
	<name>
		<en>Gallery 4 Lower Posts</en>
		<ko>최근글</ko>
	</name>
	<version>0.1</version>
	<author>x/theme</author>
	<email>philgo.net</email>
	<homepage>philgo.net</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>display forum subject/titles with link</en>
		<ko>최근글을 표시합니다.</ko>
	</short>
	<detail>
		<en>display forum subject/titles with link</en>
		<ko>
		
			옵션 설정에 따라서 여러가지 형태로 최근글을 표시합니다.
			여러개의 게시판을 선택 하여 그 게시판의 글들만 나오게 할 수 있습니다.
			클릭 URL 값이 지정되지 않았다면 클릭시, 선택된 게시판 중 첫 게시판으로 이동합니다.
			
		</ko>
	</detail>
</config>
